<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Polairs{% endblock %}</title>
        <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->
        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
        <link rel="shortcut icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
        <link rel="shortcut icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
        <link rel="shortcut icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
        <!-- Styles -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Latest font awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        {{ "main.css" | asset_url | stylesheet_tag }}

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>

            <!-- Header -->
            {% include "header-home" %}

            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}

            <!-- Footer -->
            {% include "footer" %}

            <div class="overlay"></div>

        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "main-nav.js" | asset_url | script_tag }}
        {{ "home-nav.js" | asset_url | script_tag }}


        {{ "modal.js" | asset_url | script_tag }}

    </body>
</html>
