<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Polairs{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Latest font awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        {{ "component.css" | asset_url | stylesheet_tag }}
        {{ "main.css" | asset_url | stylesheet_tag }}

        <script src="assets/scripts/modernizr.custom.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>

            <!-- Include -->
            {% include "header-inner" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}

            {% include "footer" %}
        
        
        <div class="overlay"></div>
        <!-- Script block allowing child pages to inject their own scripts -->
        
        {{ "jquery.dlmenu.js" | asset_url | script_tag }}
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "main-nav.js" | asset_url | script_tag }}
        {% block scripts %}
        <script>

            (function(){

              //change height of content to set offset paragraph correctly
              var belowContent = $('.below-content');
              var contentHeight = belowContent.height();
              var offset = parseInt(belowContent.css('top'));
              console.log(offset);
            //Use addition here because the offset is negative value
              var overlapHeight = contentHeight + offset;
              console.log(overlapHeight);
              //Set overlap height
              $('.overlap-bottom-wrapper').height(overlapHeight);

            })();
            
        </script>
        {% endblock %}

    </body>
</html>