<footer class="container-fluid gradient-bg-img" style="background-image:url('{{'g1.jpg' | asset_url'}}');">

	<!-- info bar -->
	<div class="footer-info-bar">

		<div class="psn-container-lg">
			<a href="make-appointment.html" class="appointment">
				<i class="fa fa-calendar fa-lg"></i>
				Make an Appointment
			</a>
			<a href="insurance-info.html" class="request-info">
				<i class="fa fa-info-circle fa-lg"></i>
				Request Insurance Info
			</a>
			<a href="" class="bill-pay">
				<i class="fa fa-credit-card fa-lg"></i>
				Online Bill Pay
			</a>
		</div>

	</div>
	<!-- end info bar -->

	<!-- footer -->
	<div class="row psn-container-lg footer-wrapper">

			<!-- logo full width -->
			<!-- <div class="col-xs-12">
				<div class="footer-logo">
					<a href="/">
						<img class="img-responsive" src="{{'polaris--logo-h-white.png' | asset_url'}}" alt="">
					</a>
				</div>
			</div> -->
			<!-- end logo -->

			<!-- newsletter sign-up -->
			<!-- <div class="col-xs-12 col-md-6">
				<div class="newsletter-signup">
					<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Sign up for our newsletter</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email address">
					  </div>
					</form>
				</div>
			</div> -->
			<!-- end newsletter -->

			<!-- footet contact -->
			<!-- <div class="col-xs-12 col-md-4 col-lg-6">

				<div class="footer-contact">
					<div class="contact-wrapper">
						<a href="tel:404-444-4444" class="phone">
							<i class="fa fa-phone fa-lg"></i>
							Phone: 404-444-4444
						</a>
						<a href="locations.html" class="location">
							<i class="fa fa-map-marker fa-lg"></i>
							Our Location
						</a>
						<a href="#" class="fax">
							<i class="fa fa-fax fa-lg"></i>
							Fax: 404-444-4444
						</a>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-6 col-lg-push-6 social-footer-wrapper">
				<div class="social">
					<a href="https://www.facebook.com/PeachtreeNeurosurgery?fref=ts" target="blank"><img src="{{'facebook.png' | asset_url'}}" alt=""></a>
					<a href="https://twitter.com/PeachtreeNeuro" target="blank"><img src="{{'twitter.png' | asset_url'}}" alt=""></a>
					<a href="http://www.youtube.com/user/atlantaspinesurgery" target="blank"><img src="{{'youtube.png' | asset_url'}}" alt=""></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-lg-pull-6">
				<div class="copyright">
					&copy; Copyright 2015 Polaris
				</div>
			</div> -->
			<!-- end footer contact -->

			<div class="col-xs-12">
				<div class="footer-logo">
					<a href="/">
						<img class="img-responsive" src="{{'polaris--logo-h-white.png' | asset_url'}}" alt="">
					</a>
				</div>
			</div>

			<div class="col-xs-12 ">

				<div class="footer-contact">
					<div class="contact-wrapper">
						<a href="tel:404-444-4444" class="phone">
							<i class="fa fa-phone fa-lg"></i>
							Phone: 404-444-4444
						</a>
						<a href="locations.html" class="location">
							<i class="fa fa-map-marker fa-lg"></i>
							Our Location
						</a>
						<a href="#" class="fax">
							<i class="fa fa-fax fa-lg"></i>
							Fax: 404-444-4444
						</a>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-2 col-lg-6 col-lg-push-6 social-footer-wrapper">
				<div class="social">
					<a href="https://www.facebook.com/PeachtreeNeurosurgery?fref=ts" target="blank"><img src="{{'facebook.png' | asset_url'}}" alt=""></a>
					<a href="https://twitter.com/PeachtreeNeuro" target="blank"><img src="{{'twitter.png' | asset_url'}}" alt=""></a>
					<a href="http://www.youtube.com/user/atlantaspinesurgery" target="blank"><img src="{{'youtube.png' | asset_url'}}" alt=""></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-lg-pull-6">
				<div class="copyright">
					&copy; Copyright 2015 Polaris
				</div>
			</div>

	</div>
</footer>
