{% block content %}
<div class="psn-container-nav">
	<div class="header-image">
		<img class="img-responsive" src="{{ 'doctor-lg.jpg' | asset_url }}" alt="">
		<div class="doctor-name">
			<h2>Dr. Shance Mangrum, MD</h2>
		</div>
	</div>
</div>

<div class="psn-container">
	<div class="row no-margin">

		<!-- main content -->
		<div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 no-headline psn-container-inner">

			<div class="intro-text text-gold no-padding">

					<p>At Atlanta Spine Surgery, we work exclusively with patients experiencing an array of spinal conditions, ranging from mild issues – such as certain disc pains or bone spurs – to more serious conditions – such as spinal stenosis and degenerative disc disease. Our team of experts has decades of experience behind its members and strives tirelessly to stay current and skilled usintg the most up to date diagnostic equipment to pinpoint the root cause of your back pain. Regardless of the condition, we have the ability to locate and treat it as effectively as possible.</p>

			</div>

			<!-- Education -->
			<div class="info-block text-gold">

				<div class="desc">

					<h3>Education</h3>

					<p>Dr. Shane Mangrum joined Polaris in 2015. He completed his undergraduate education at Harvard University, graduating with a degree in Organismic and Evolutionary Biology. He later attended medical school at the University of Utah.</p>

					<p>Dr. Mangrum completed residencies in Physical Medicine and Rehabilitation at the Mayo Clinic and the University of Utah. He previously served as a partner at Eastern Idaho Spine Center in Idaho Falls, Idaho. Additionally, Dr. Mangrum served as Medical Director of Inpatient Rehabilition, Occupational Medicine and the Spine Center of Excellence at Eastern Idaho Regional Medical Center.</p>

				</div>

				<div class="affiliate-wrapper row">
					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'harvard.jpg' | asset_url }}" alt="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'utah-school.jpg' | asset_url }}" alt="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'mayo.jpg' | asset_url }}" alt="">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'university-utah.jpg' | asset_url }}" alt="">
					</div>
				</div>

			</div>

			<!-- Affiliations -->
			<div class="info-block text-gold">

				<div class="desc">
					
					<h3>Affiliations</h3>

					<p>Board Certifications: American Board of Physical Medicine and Rehabilitation, Sports Medicine with the ABFM</p>

				</div>
				
				<div class="affiliate-wrapper row">

					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'harvard.jpg' | asset_url }}" alt="">
					</div>

					<div class="col-xs-6 col-sm-6 col-md-3">
						<img class="img-responsive" src="{{ 'utah-school.jpg' | asset_url }}" alt="">
					</div>

				</div>

			</div>
			<!--End Affiliations -->

			<!-- specialties -->
			<div class="info-block text-gold">

				<div class="desc">
					
					<h3>Specialties</h3>

					<p>Reflecting his holistic approach to spine care, Dr. Mangrum is board certified in Physical Medicine & Rehabilitation, as well as in Sports Medicine, and is a member of the 
					American Academy of Medical Acupuncture.
					</p>

				</div>

				<!-- video -->
				<div class="col-xs-12 no-padding">
							
							<!-- 16:9 aspect ratio -->
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
						</div>

						<p class="video-desc">In addition to the work in his medical practice, Dr. Mangrum serves as the Chief Medical Officer for Theranova, LLC, a biomedical development company.</p>
				</div>

			</div>
			<!-- end specialties -->

			<!-- Interests -->
			<div class="info-block text-gold">

				<div class="desc">
					
					<h3>Interests</h3>

					<p>Drawn to the climate and culture of Atlanta, Dr. Mangrum now resides in Roswell with his wife and their four children.</p>

				</div>

			</div>
			<!-- End Interests -->
			
		</div>

		<!-- sidebar -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 tan-bg no-padding">
			<div class="psn-sidebar-wrapper">
				<div class="sidebar-title">
					<h2>Our Team</h2>
				</div>
				<div class="sidebar-names">
					<a href="">Max Steuer, <span class="doc-md">MD.</span></a>
					<a href="">Max Steuer, <span class="doc-md">MD.</span></a>
					<a href="">Max Steuer, <span class="doc-md">MD.</span></a>
					<a href="" class="active">Max Steuer, <span class="doc-md">MD.</span></a>
					<a href="">Max Steuer, <span class="doc-md">MD.</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}